<div class="feature-wrapper">
<h1>Search cram schoolは学習塾検索アプリです</h1>
<div class="feature-container">
  <div class="petalpush-description">
    <p>Search cram schoolとは、学習塾選びを手助けするためのアプリケーションです。</p>
    <p>近年増え続ける小学生、中学生の通塾率に伴い、塾への意識が変わる方は多いでしょう。</p> 
    <p>そのような時、最初の関門となるのはやはり「塾探し」ではないでしょうか</p>
    <p>自分に合った塾はどこなのか、ここの塾では何を教えてくれるのか、何件ものホームページを開いて探すのは本当に手間と時間がかかります。</p>
    <p>そんな手間と時間がかかる作業を、「分かりやすく」且つ「端的」に行えるアプリあればどうでしょう。</p>
    <p>時間短縮になるだけではなく、自分と合った塾を発見したことにより、生徒様のモチベーションアップも期待出来るでしょう。</p>
    <p>塾での学習はこの先の人生に大きく影響を及ぼす大事な転換点です。より多くの塾と塾とを比較して、自分に合った塾を見つけましょう</p>
  </div>
</div>
<h2>機能の紹介</h2>
  <div class="feature-container">
    <div class="feature-title">塾情報投稿機能</div>
    <ul class="feature-list">
      <li>塾の基本情報を入力して、アプリに簡単にアップロード</li>
      <li>投稿した塾の情報はuserの方々に閲覧していただけます。</li>
    </ul>
  </div>
  <div class="feature-container">
    <div class="feature-title">塾情報閲覧機能</div>
    <ul class="feature-list">
      <li>経営者が投稿した塾の情報を、一覧画面、詳細画面で閲覧できます。</li>
      <li>お気に入りした塾や特定の条件で、投稿された塾の情報を検索できます。</li>
    </ul>
  </div>
  <div class="feature-container">
    <div class="feature-title">お気に入り機能</div>
    <ul class="feature-list">
      <li>「自分に合っているかも？」と感じた塾を「お気に入り」することで、気に入った塾を記録できます。</li>
      <li>お気に入りした投稿はマイページでいつでも確認でき、候補の塾同士でまた比較することができます。</li>
    </ul>
  </div>
  <div class="feature-container">
    <div class="feature-title">絞り込み機能</div>
    <ul class="feature-list">
      <li>塾の一覧画面で、希望条件（住所や科目など）で塾を絞り込むことができます。</li>
    </ul>
  </div>
</div>