<div class="feature-wrapper">
<h1>Search cram schoolは学習塾検索アプリです</h1>
<div class="feature-container">
  <div class="petalpush-description">
    <p>Search cram schoolとは、学習塾選びを手助けするためのアプリケーションです。</p>
    <p>近年増え続ける小学生、中学生の通塾率に伴い、塾への意識が変わる方は多いでしょう。</p> 
    <p>そのような時、最初の関門となるのはやはり「塾探し」ではないでしょうか</p>
    <p>自分に合った塾はどこなのか、ここの塾では何を教えてくれるのか、何件ものホームページを開いて探すのは本当に手間と時間がかかります。</p>
    <p>そんな手間と時間がかかる作業を、「分かりやすく」且つ「端的」に行えるアプリあればどうでしょう。</p>
    <p>時間短縮になるだけではなく、自分と合った塾を発見したことにより、生徒様のモチベーションアップも期待出来るでしょう。</p>
    <p>塾での学習はこの先の人生に大きく影響を及ぼす大事な転換点です。より多くの塾と塾とを比較して、自分に合った塾を見つけましょう</p>
  </div>
</div>
<h2>機能の紹介</h2>
  <div class="feature-container">
    <div class="feature-title">塾情報投稿機能</div>
    <ul class="feature-list">
      <li>塾の基本情報を入力して、アプリに簡単にアップロード</li>
      <li>投稿した塾の情報はuserの方々に閲覧していただけます。</li>
    </ul>
  </div>
  <div class="feature-container">
    <div class="feature-title">塾情報閲覧機能</div>
    <ul class="feature-list">
      <li>経営者が投稿した塾の情報を、一覧画面、詳細画面で閲覧できます。</li>
      <li>お気に入りした塾や特定の条件で、投稿された塾の情報を検索できます。</li>
    </ul>
  </div>
  <div class="feature-container">
    <div class="feature-title">コメント機能</div>
    <ul class="feature-list">
      <li>投稿された花の情報に対して、感想や質問などのコメントを気軽に投稿できます。</li>
      <li>コメントを通じて、他のユーザーとの交流が楽しめます。</li>
    </ul>
  </div>
  <div class="feature-container">
    <div class="feature-title">いいね機能</div>
    <ul class="feature-list">
      <li>心に響いた投稿に「いいね」をすることで、気に入った花を簡単に記録できます。</li>
      <li>いいねした投稿はマイページでいつでも確認でき、花の思い出が蘇ります。</li>
    </ul>
  </div>
</div>