.name {
  font-size: 300%;
}

.contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.content {
  width: 650px;
  background-color: rgb(209, 242, 238);
  padding: 30px;
  margin-bottom: 60px;
  box-shadow: 15px 10px 10px rgba(5,5,5,5.5);
  font-size: 150%;
  height: 700px;
}