// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



.cram-school {
  text-align: center;
  padding: 10px;  
  // background-color: #dcf7da; /* ボックスの背景色 */
  height: 100%;
  background-image: url("/images/イラスト-学校-教育-勉強する-関係した-ベクタークリップアート_csp38629001.webp");
}

p {
  text-decoration: underline;
}

.cram-title{
  font-size: 150%;
}



.description-box {
  border: 2px solid #000; /* 枠線の太さと色 */
  border-radius: 10px; /* 角の丸み */
  padding: 5px; /* 内側の余白 */
  background-color: rgb(193, 247, 182); /* ボックスの背景色 */
  display: inline-block; /* ボックスの幅を内容に合わせる */
  max-width: 90%; /* 最大幅を設定（必要に応じて変更） */
  margin-bottom: 20px; /* 下側の余白 */
}

